.places {
  max-width: 984px;
  margin: 92px auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
      max-width: 928px;
      padding: 0 48px;
      margin: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .places {
        margin: 88px 0 90px;
        padding: 0 24px;
        width: 720;
        gap: 73px;
      }
    }

    @media screen and (max-width: 320px) {
      .places {
          margin: 64px auto 66px;
          gap: 50px;
        }
      }