.place__image {
  grid-column: 1/2;
  grid-row: 2/4;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 43vw;
  }
}

@media screen and (max-width: 720px) {
  .place__image {
    width: 93.75%;
    grid-column: 1;
    grid-row: 3/4;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 100vw;
    position: relative;
    right: 16px;
  }
}
