.place__image {
  grid-column: 1/2;
  grid-row: 2/4;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 43vw;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 44.271vw;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 100vw;
    transform: translate(-16px, 0);
  }
}
