.cover__subtitle {
  grid-row: 2/2;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: flex-start;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
      max-width: 288px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
    }
  }