.place__main-text {
  grid-column: 2/2;
  grid-row: 2/4;
}

@media screen and (max-width: 1024px) {
  .place__main-text {
    max-width: 456px;
  }
}


@media screen and (max-width: 720px) {
  .place__main-text {
grid-column: 1;
grid-row: 4/4;
  }
}

@media screen and (max-width: 320px) {
  .place__main-text {
    max-width: 288px;
  }
}
