.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin-bottom: 32px;
  text-rendering: optimizeLegibility;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 93.75%;
    font-size: calc(100vw * 0.125);
    line-height: calc(100vw * 0.1302);
  }
}
