.footer {
  width: 92.5%;
  margin: 92px auto 24px;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  box-sizing: border-box;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px auto 24px;
    width: 93.75%;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    margin: 64px auto 0;
    padding: 0 6px 24px;
    align-items: flex-start;
    gap: 48px;
  }
}
